div
    nav(class='{{active}}', ng-click='$event.preventDefault()')
        // When a link in the menu is clicked, we set the active variable
        a.user(href='#', ng-click="active='user'") User
        a.complaints(href='#', ng-click="active='complaints'") Complaints

    flash-message

    div(ng-if="active == 'user'")
        div(if-loading)
        div
            label
                | Search:
            br
            input(ng-model="searchUser")
            button(ng-click='vm.search(searchUser)')
                | Search
        panel.panel-default
            .panel-heading Users
            table.table
                tr
                    th Username
                    th Email
                    th Status
                    th Action
                tr(ng-repeat='user in vm.users')
                    td
                        a(href='/user/{{user.username}}') {{user.username}}
                    td {{user.email}}
                    td {{user.status}}
                    td
                        img(src="/images/rubbish-bin.png" title="delete user" ng-click="vm.delete(user._id)")
                        img(src="/images/line.png")
                        img(ng-if="user.status=='active'" src="/images/ban.png" title="ban user" ng-click="vm.ban(user._id)")
                        img(ng-if="user.status=='baned'" src="/images/unban.png" title="unban user" ng-click="vm.ban(user._id)")
            div.pagination-wrap
                ul.pagination
                    li(ng-repeat='page in vm.paginationList' ng-click='vm.getPage(page.link, searchUser)' ng-class="{'active': vm.currentPage == page.link}")
                        a(href='' ng-bind-html='page.name')


    div(ng-if="active == 'complaints'")
        .panel.panel-default
            .panel-heading Complain photo
            table.table
                tr
                    th Username
                    th FileName
                    th Status
                    th Complain
                    th Action
                tr(ng-repeat="album in vm.albums | orderBy:'-complain'"  ng-if="vm.albums" )
                        td
                            a(href='/user/{{album.postedBy.username}}') {{album.postedBy.username}}
                        td
                            a(href='/user/{{album.postedBy.username}}/{{album.album_id}}/{{album._id}}') {{album.filename}}
                        td {{album.status}}
                        td {{album.complain}}
                        td
                            img(src="/images/rubbish-bin.png" title="delete photo" ng-click="vm.deletePhoto(album)")
                            img(src="/images/line.png")
                            img(ng-if="album.postedBy.status=='active'" src="/images/ban.png" title="ban user" ng-click="vm.ban(album.postedBy._id)")
                            img(ng-if="album.postedBy.status=='baned'" src="/images/unban.png" title="unban user" ng-click="vm.ban(album.postedBy._id)")

    pop-up-dialog(dialog-show='vm.dialogVisible', dialog-title='vm.dialog.title', dialog-body='vm.dialog.body', dialog-ok='vm.dialog.onConfirm')