div.container-fluid.profile-info
  div.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
    div.col-md-6.col-sm-5.col-xs-6
      img.img-responsive.img-thumbnail(src="{{ vm.user.avatar }}")
    div.col-md-6.col-sm-7.col-xs-6
      h1 {{ vm.user.username }}
      h3 {{ vm.user.first_name }} {{ vm.user.last_name }}
      h3 Email: {{ vm.user.email }}
      h3 Total photo views: {{vm.user.global_views}}
      h3
        span(ng-if="!vm.user.followers.length")
          | Followers: {{vm.user.followers.length}}
        a(ng-if="vm.user.followers.length" href="/user/{{ vm.user.username }}/followers")
          | Followers: {{vm.user.followers.length}}
      h3
        span(ng-if="!vm.user.following.length")
          | Following: {{vm.user.following.length}}
        a(ng-if="vm.user.following.length" href="/user/{{ vm.user.username }}/following")
          | Following: {{vm.user.following.length}}

      a.btn.btn-primary(href="/user/{{ vm.user.username }}/albums")
        h3 Albums
      a.btn.btn-primary(href="/settings" ng-if="vm.myProfile")
        h3 Settings
      button#follow-button.btn.btn-primary(ng-click='vm.toggleFollow()' ng-if="!vm.myProfile")
        | Follow

photo-grid(photos="vm.profileAlbum" lazy-load="vm.getProfileAlbum")
