div.users-search.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
   div.input-group
      input.form-control(ng-model="searchUser" placeholder="Search")
      span.input-group-btn
         button.btn.btn-success(ng-click="vm.search(searchUser)") Search

div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
   table.users-table.table.table-striped.table-condensed.table-responsive
      thead
         tr
            th
            th Username
            th First Name
            th Last Name
            th Email
      tbody
         tr(ng-repeat="user in vm.users")
            td
               img.pull-right(ng-if="user.avatar" src="{{ user.avatar }}")
               img.pull-right(ng-if="!user.avatar" src="/images/no-avatar.png")
            td
               a(href="/user/{{ user.username }}") {{ user.username }}
            td {{ user.last_name }}
            td {{ user.first_name }}
            td {{ user.email }}

   div.pagination-wrap
      ul.pagination
         li(ng-repeat='page in vm.paginationList' ng-click='vm.getPage(page.link, searchUser)' ng-class="{'active': vm.currentPage == page.link}")
            a(href='' ng-bind-html='page.name')
